spring:
  application:
    name: authbackend
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER

server:
  port: ${SERVER_PORT:3001}
  forward-headers-strategy: framework

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha

security:
  cors:
    # TODO: restrict allowed origins in production
    allowed-origins: ${CORS_ALLOWED_ORIGINS:*}
    allowed-methods: GET,POST,PUT,DELETE,OPTIONS
    allowed-headers: '*'
    allow-credentials: true

oauth:
  jwt:
    issuer: ${OAUTH_JWT_ISSUER:auth-backend}
    secret: ${JWT_SECRET:changeme-dev-insecure}
    expirationSeconds: ${JWT_EXP_SECONDS:3600}
  redirectBaseUrl: ${OAUTH_REDIRECT_BASE_URL:http://localhost:${server.port}}
  dev:
    loginEnabled: ${DEV_LOGIN_ENABLED:false}
  providers:
    google:
      clientId: ${OAUTH_GOOGLE_CLIENT_ID:}
      clientSecret: ${OAUTH_GOOGLE_CLIENT_SECRET:}
      authUri: https://accounts.google.com/o/oauth2/v2/auth
      tokenUri: https://oauth2.googleapis.com/token
      userInfoUri: https://openidconnect.googleapis.com/v1/userinfo
      scopes: "openid,profile,email"
    github:
      clientId: ${OAUTH_GITHUB_CLIENT_ID:}
      clientSecret: ${OAUTH_GITHUB_CLIENT_SECRET:}
      authUri: https://github.com/login/oauth/authorize
      tokenUri: https://github.com/login/oauth/access_token
      userInfoUri: https://api.github.com/user
      emailUri: https://api.github.com/user/emails
      scopes: "read:user,user:email"
    microsoft:
      clientId: ${OAUTH_MICROSOFT_CLIENT_ID:}
      clientSecret: ${OAUTH_MICROSOFT_CLIENT_SECRET:}
      authUri: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
      tokenUri: https://login.microsoftonline.com/common/oauth2/v2.0/token
      userInfoUri: https://graph.microsoft.com/oidc/userinfo
      scopes: "openid,profile,email"

---
spring:
  config:
    activate:
      on-profile: dev
oauth:
  dev:
    loginEnabled: ${DEV_LOGIN_ENABLED:true}
